<header>
  <div class="header-content">

    <h1>GamerSide</h1>
    <span class="logo" routerLink=""><img src="assets/img/logo.svg" alt="" /></span>

    <nav class="menu">

      <a routerLink=""
        (click)="isCategoryCollapsed ? isCategoryCollapsed=false : isCategoryCollapsed"
        (click)="isPlatformCollapsed ? isPlatformCollapsed=false : isPlatformCollapsed">
        Home
      </a>

      <a type="button" (click)="platformClick()" (keypress)="platformClick()" [attr.aria-expanded]="isPlatformCollapsed"
        aria-controls="collapseBasic" tabindex="0">
        Plataforma
      </a>

      <a type="button" (click)="categoryClick()" (keypress)="categoryClick()" [attr.aria-expanded]="isCategoryCollapsed"
        aria-controls="collapseBasic" tabindex="0">
        Categorias
      </a>
    </nav>

  </div>

  <div class="dropdown platforms" id="platform collapseBasic" [collapse]="!isPlatformCollapsed" [isAnimated]="true">
    <h4 (click)="platformClick()">Plataformas</h4>
    <hr>
    <ul>
      <li *ngFor="let platform of platforms">
        <a [routerLink]="['/games']" [queryParams]="{ platform: platform.queryParams }" queryParamsHandling="merge"
        (click)="platformClick()">
          {{ platform.name }}
        </a>
      </li>
    </ul>
  </div>

  <div class="dropdown categories" id="category collapseBasic" [collapse]="!isCategoryCollapsed" [isAnimated]="true">
    <h4 (click)="categoryClick()">Categorias</h4>
    <hr>
    <ul>
      <li *ngFor="let category of categories">
        <a [routerLink]="['/games']" [queryParams]="{ category: category.queryParams }" queryParamsHandling="merge"
        (click)="categoryClick()">
          {{ category.name }}
        </a>
      </li>
    </ul>
  </div>
</header>
