@import "./src/styles.scss";

main {
  width: 85%;
  //height: 100vh;
  //background: rgb(0, 0, 0);
  margin: auto;
}

.sorting-items {
  padding: 20px;
  //@include dflex(space-evenly);

  select {
    color: black;
  }
}

.cards {
  flex-wrap: wrap;
  gap: 10px;
  @include dflex(space-around);

  .card-container {
    width: 370px;
    height: 355px;
    margin-bottom: 20px;
  }

  .card {
    width: 365px;
    height: 350px;
    background: #32383E;
    border-radius: 7px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.185);
    margin: auto;
    transition: 0.2s ease-in;

    img {
      width: 100%;
      object-fit: contain;
      border-radius: 7px 7px 0 0;
    }

    .info {
      padding: 10px;
    }

    &:hover {
      cursor: pointer;
      width: 370px;
      height: 355px;
      box-shadow: 0 .7rem 1.2rem rgba(0, 0, 0, 0.26);
    }
  }
}
@import "~bootstrap/scss/bootstrap";
//@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
