<header>
  <div class="header-content">
    <h1>GamerSide</h1>
    <span class="logo" routerLink=""><img src="assets/img/logo.svg" alt=""></span>

    <nav class="menu">
      <a routerLink="">
        Home
      </a>

      <a routerLinkActive="MenuPlataform" class="dropdown" (click)="platformClick()">

        Plataforma<mat-icon>arrow_drop_down</mat-icon>

        <ul class="dropdown-content platform"
          [ngClass]="{ 'platform': !dropPlatformIsActive, 'platform-active': dropPlatformIsActive }">
          <li *ngFor="let platform of platforms " (click)="get()">
            <a [routerLink]="['/games']" [queryParams]="{ platform: platform.queryParams }"
              queryParamsHandling="merge">{{platform.name}}</a>
          </li>
        </ul>
      </a>

      <a routerLinkActive="MenuCategory" class="dropdown" (click)="categoryClick()">

        Categorias <mat-icon>arrow_drop_down</mat-icon>

        <ul class="dropdown-content category"
          [ngClass]="{ 'category': !dropCategoryIsActive, 'category-active': dropCategoryIsActive }">
          <li>
            <a [routerLink]="['/games']" (click)="get()" [queryParams]="{ category: 'mmorpg' }"
              queryParamsHandling="merge">MMO</a>
          </li>
          <li>
            <a [routerLink]="['/games']" (click)="get()" [queryParams]="{ category: 'shooter' }"
              queryParamsHandling="merge">Shooter</a>
          </li>

        </ul>
      </a>

    </nav>
  </div>
</header>
