@import "./src/styles.scss";

main {
  font-family: sans-serif;
}

section#banner  {
  height: 60vh;

  background-image: url('../../../assets/img/baner.jpg');

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed
}

.call-to-action {
  @include dflex(space-between);
  padding: 50px;
  gap: 20px;
  flex-wrap: wrap;
  // background: hsl(213, 57%, 15%);
}

.call-to-action h3 {
  font-size: 3.5rem;
  text-align: left;
  font-style: normal;
}

.call-to-action .btn {
  background: #dc3545;
  box-shadow: 0px 0px 16px 5px #df647065;
  // box-shadow: 0px 0px 16px 5px #dc354665;
  // background: #050d79;
  // box-shadow: 0px 0px 16px 1px #1814f08a;
  transition: all 0.2s ease-in-out;
  font-weight: bold;

  // background: #2E5B98;
  border-radius: 15px;
  padding: 10px 20px;
  font-size: 1.5rem;
  text-align: center;
  white-space: nowrap;
}

.call-to-action .btn:hover {
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 16px 5px #791d28;
  // box-shadow: 0px 0px 16px 5px #04014686;
}
