<main>

  <app-sorting-items></app-sorting-items>
  <!-- <div infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScrollDown()"> -->

  <section id="cards" *ngIf="games$ | async as games">

    <app-game-card *ngFor="let game of games" [game]="game"></app-game-card>

  </section>
  <!-- </div> -->


  <ng-template #loading>

    <app-loading-spinner></app-loading-spinner>

  </ng-template>


  <button *ngIf="showBtn" (click)="scrollUp()" class="up-btn">🔝</button>


</main>
