.card-container {
  width: 360px;
  height: 355px;
  margin: 20px auto;
}

.card {
  width: 350px;
  height: 350px;
  background: #2a323d;
  border-radius: 7px;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.185);
  transition: 0.2s ease-in;
  margin: auto;

  img {
    width: 100%;
    object-fit: contain;
    border-radius: 7px 7px 0 0;
  }

  h1, hr, .info{
    margin: 0;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  h1 {
    padding-top: 25px;
    font-size: 1.5rem;
    text-shadow: 0px 0px 28px rgb(228 228 228 / 30%);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }


  .info {
    max-height: 55px;


    p{
      margin: 0;
      color: #ffffff9f;
      overflow: hidden;
    }
  }

  &:hover {
    cursor: pointer;
    width: 360px;
    height: 355px;
    box-shadow: 0px 0px 20px 5px #00000056;
  }

  abbr {
    text-decoration: none;
    cursor: pointer;
  }
}


@media (max-width: 320px), (min-width: 720px) and (max-width: 900px) {
  .card-container {
    width: 310px;
    height: 305px;
  }
  .card {
    width: 300px;
    height: 300px;

    &:hover {
      width: 310px;
      height: 305px;
    }

  }
}
